@import "../Styles/Colors.scss";
@import "../Styles/Variables.scss";

.container {
  width: 300px;
  height: fit-content;
  background-color: $dark-blue;
  padding: $space-nano;
  margin: $space-mega;
  justify-content: center;
  align-items: center;
  border-radius: $x2;
  &:hover {
    transform: scale(1.1);
  }
}
.rank {
  color: $purple;
}
.symbol {
  color: $grey;
}

.marketCap {
  color: $green;
}
