@import "./Styles/Colors.scss";
@import "./Styles/Variables.scss";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $desktop;
  overflow-y: hidden;
  flex: 1;
}

.header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: $dark;
  width: 100%;
}
